extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  #hola
    #preloader
      span
      span
  // Start content
  .page-wrap
    .home
      .text-wrap
        h1 Google Calendar
        p
          a(href=`${url}`)
            .wrapper
            button.loginBtn.loginBtn--google
              | Authorize

  
block scripts
  script(src="/scripts/jquery-v2.1.3.min.js")
  script(src="/scripts/velocity.js")
  script(src="/scripts/velocity.ui.min.js")
  script(src="/scripts/index.js")




